{
    "presets": [
      [
        "env",
        {
          "targets": {
            "node": 8.0
          }
        }
      ]
    ],
    "plugins": [
      "transform-decorators-legacy",
      "transform-class-properties",
      "transform-function-bind",
      "transform-object-rest-spread",
      "transform-export-extensions"
    ]
  }
